.projects-logo-container {
  display: flex;
  justify-content: left;
  padding-top: 25px;
}

.projects-logo {
  display: flex;
  position: fixed;
  border-radius: 50%;
  top: 4vh;
  z-index: 999;
}

.projects-container {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 80px;
}

.projects-title {
  width: 100% !important;
}

.projects-subtitle {
  width: 80% !important;
}

.projects-list {
  margin-top: 48px;
}

@media (max-width: 768px) {
  .projects-container { padding-top: 80px; }
  .projects-subtitle { width: 100% !important; }
}